/* banner.scss */

.banner {
    position: relative;
    overflow: hidden;
    z-index: 1; /* Đặt chiều sâu cho phần tử banner */
  }
  
  .banner img {
    width: auto;
    display: flex;
    max-width: 90%;
    max-height: 500px;
    margin: 0 auto;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: scale(1);
  }
  
  .banner img.fade-in {
    opacity: 1;
    transform: scale(1.1);
  }
  
  .banner img.fade-out {
    opacity: 0;
    transform: scale(0.9);
  }
  
  /* Thêm chiều sâu cho phần tử login */
  .login {
    position: relative;
    z-index: 2; /* Đặt chiều sâu cao hơn so với banner */
  }
  