@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;600&display=swap');

.goiY{
    display: flex;
    margin-top: 4rem;
}

.danhmuc{
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(187, 96, 21);
}